.button {
  width: 11rem;
  /* height: 3rem; */
  border-radius: 5px;
  background-color: var(--color-btn-1);
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-white-1);
  cursor: pointer;
  padding: .8rem;
  transition: all;
}

.button:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .button {
    width: 9.5rem;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 3px;
  }
}

@media (max-width: 400px) {
  .button {
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.6rem;
  }
}