.container {
  padding: 20px;
  color: var(--color-white-2);
  font-size: 1.3rem;
  transition: svg .2s;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.deletedHeading {
  font-weight: 600;
}

.table th,
.table td {
  border: 1px solid var(--color-white-2);
  padding: 8px 10px;
  text-align: left;
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pics {
  cursor: pointer;
}

.pics:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .deletedHeading {
    font-size: 1.7rem;
  }

  .container {
    font-size: 1.1rem;
    margin-top: .5rem;
    padding: 0px;
  }

  .table th,
  .table td {
    padding: 4px 5px;
  }

  /* .deletedHeading thead tr th {
    padding: 5px;
  } */
}
