.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  padding: .5rem;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1.2px solid var(--color-white-2);
  transition: input 0.2s;
  color: var(--color-white-2);
  background-color: var(--color-bg-1);
}

input:focus {
  outline: none;
  border: 1.8px solid var(--color-white-1);

}

@media (max-width: 1000px) {
  .header {
    margin: 1.3rem 0 0 1.3rem;
  }
  input {
    width: 90%;
  }
}
