.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  width: 12rem;
  padding: 0.3rem;
  cursor: pointer;
  background-color: var(--color-btn-1);
}

.tab h2 {
  color: var(--color-white-2);
  text-decoration: none;
  font-weight: 500;
}

.active {
  border: 1px solid var(--color-white-1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  border-radius: 4px;
}

.active:hover {
  border: none;
}

.active h2 {
  color: var(--color-white-1);
  font-weight: 600;

}

.tab:hover {
  transform: scale(1.02);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.tab h2 {
  font-size: 1.4rem;
  color: var(--color-white-1);
}

.icon {
  color: var(--color-white-1);
}

@media (max-width: 800px) {
  .tab {
    width: 9.5rem;
    padding: 0.25rem .015rem;
  }

  .tab h2 {
    font-size: 1.25rem;
  }

  .icon {
    font-size: 1rem;
  }
}
