.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-white-1);
  border-radius: 2px;
  width: 12rem;
  padding: .5rem;
  cursor: pointer;
  background-color: var(--color-btn-1);
}

.tab:hover {
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tab h2 {
  font-size: 1.4rem;
  color: var(--color-white-1);
}

.icon {
  color: var(--color-white-1);
}