.body {
  padding: 1.2rem;
  width: 100%;
  border: 1px solid var(--color-white-2);
  border-radius: 5px;
  cursor: pointer;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
}


.header .icon:hover {
  transform: size(2);
}

.header h2 {
  color: var(--color-white-2)
}

.body h3 {
  color: var(--color-white-2);
  font-size: 1.2rem
}

.body span {
  display: block
}

.body .h3s {
  margin-top: 1.2rem;
}

@media (max-width: 1000px) {
  .body {
    padding: 1.2rem;
    width: 85%;
  }

  .body:not(:first-child) {
    margin-top: 1.5rem;
  }

  .body p {
    font-size: 1.2rem;
  }

  .body h2 {
    font-size: 1.35rem;
  }

  .body h3 {
    font-size: 1.1rem;;
  }
}