
.listBody {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  height: 80vh;
  margin-top: 1.5rem;
  overflow:auto;
}

.icon {
  font-size: 9rem;
  color: var(--color-red-1)
}

.result {
  margin-top: 5rem;
  text-align:  center;
}

.p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: var(--color-white-2)
}

.listBody::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.listBody::-webkit-scrollbar-track {
  background: var(--color-btn-1)
}

.listBody::-webkit-scrollbar-thumb {
  background: var(--color-bg-1)
}

@media (max-width: 1000px) {
  .listBody {
    display: block;
    margin: 1.3rem  0 1.3rem 1.3rem;
  }

  .icon {
    font-size: 6.5rem;
  }
}

