.container {
  padding: 20px;
  color: var(--color-white-2);
  font-size: 1.3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, 
.table td {
  border: 1px solid var(--color-white-2);
  padding: 8px 10px;
  text-align: left;
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pics {
  cursor: pointer;
}

@media (max-width: 600px) {
  .copy2 {
    gap: 8px;
  }

  .container {
    font-size: 1.1rem;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .copy2 {
    gap: 4.5px;
  }

  .table th,
  .table td {
    padding: 4px 5px;
  }

  .container {
    font-size: 0.9rem;
    padding: 5px;
  }
}
