.passwordBody {
  border-bottom: 1px solid var(--color-white-2);
}

.header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  margin: 1rem 0 2.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap : wrap;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  flex: 1 1 15rem;
}

.input p {
  margin-top: .01rem;
  font-size: 1.2rem;
  color: var(--color-red-1);
}

@media (max-width: 600px) {
  .passwordBody header h1 {
    font-size: 2rem;
  }

  .inputContainer{
    /* flex-direction: column; */
    gap: 10px;
  }

  .input {
    width: 100%;
    min-width: unset;
  }

  .input p {
    font-size: .8rem;
  }
}