.container {
  padding: 20px;
  color: var(--color-white-2);
  font-size: 1.3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, 
.table td {
  border: 1px solid var(--color-white-2);
  padding: 8px 10px;
  text-align: left;
}

.copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}