@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-bg-1: #3F3434;
  --color-red-1: #EC7A7C;
  --color-white-1: #fff;
  --color-white-2: #CFCCCC;
  --color-btn-1: #5B4949;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: var(--color-bg-1);
}