@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-bg-1: #3f3434;
  --color-red-1: #ec7a7c;
  --color-white-1: #fff;
  --color-white-2: #cfcccc;
  --color-btn-1: #5b4949;
  --toastify-toast-background: var(--color-bg-1);
  --toastify-color-light: var(--color-bg-1);
  --toastify-text-color-light: var(--color-white-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: var(--color-bg-1);
  margin: 1.1rem auto;
  max-width: 144rem;
  padding: 0 2.5rem;
  height: 100vh;
}

ul,
ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;

  li p {
    color: var(--color-white-2);
    list-style: circle;
  }
}

.tiptap {
  padding: 1rem;
  /* min-height: 200px; */
}

.tiptap ul li::marker,
.tiptap ol li::marker {
  font-size: 1.4rem;
  color: var(--color-white-2);
}

.ProseMirror {
  border: none;
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before,
.tiptap H1.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
